/* 登录页CSS */
/* 顶部整体 */
.top-nav-wrap {
	background-color: #EAEAEA;
}

/* 顶部导航栏 */
.top-nav {
	height: 30px;
}

/* 顶部导航栏(左侧) */
.top-nav .top-nav-left {
	float: left;
}

/* 顶部导航栏(右侧) */
.top-nav .top-nav-right {
	float: right;
}

/* 顶部导航栏内部浮动 */
.top-nav .top-nav-left .list01 li,
.top-nav .top-nav-right .list02 li {
	float: left;
	line-height: 30px;
	margin: 0 5px;
}

/* 顶部导航栏字体 */
.top-nav .top-nav-left .list01 a,
.top-nav .top-nav-right .list02 a {
	color: #82827F;
	display: block;
}

.top-nav .top-nav-left .list01 a:hover,
.top-nav .top-nav-right .list02 a:hover {
	color: #ea4a36;
}

/* 顶部导航栏分栏图标 */
.top-nav .top-nav-left .list01 .col,
.top-nav .top-nav-right .list02 .col {
	color: #BAB5B5;
}

/* 头部搜索栏 */
.header-search-wrap {
	height: 106px;
}

/* 头部logo */
.header-search-logo {
	margin: 28px 0px 0px 66px;
	float: left;
	height: 56px;
}

.header-search-logo a {
	width: 175px;
	height: 56px;
	display: block;
	background: url(../img/Logo.png) no-repeat;
	text-indent: -9999px;
}

/* 头部右侧搜索框 */
.header-search {
	margin: 35px 15px 0px 0px;
	float: right;
}

/* 搜索框 */
.header-search #search {
	width: 488px;
	height: 30px;
	padding: 2px 10px;
	float: right;
	border: 2px solid #ea4a36;
}

/* 搜索按钮 */
.header-search #btn {
	width: 70px;
	height: 30px;
	padding: 0;
	border: 2px solid #ea4a36;
	float: right;
	color: white;
	background-color: #ea4a36;
}

.header-search a {
	display: block;
}

/* 登录主体 */
.main{
	height: 400px;
	border: 1px solid #ECECEC ;
}

.main-top{
	height: 25px;
	line-height: 25px;
	padding: 10px 0px;
	background-color: #ECECEC;
}

.main-top span:first-of-type{
	font-size: 20px;
	font-weight: 700;
	margin-left: 14px;
}

.main-top span:last-of-type{
	float: right;
	font-size: 14px;
	font-weight: 700;
	margin-right: 20px;
}

.main form{
	width: 296px;
	height: 290px;
	/* padding: 20px; */
	margin: 40px auto 0px;
	position: relative;
}

.main form label{
	display: inline-block;
	width: 60px;
	line-height: 34px;
	font-size: 14px;
	color: #717676;
	font-weight: 600;
	
}

.main form label:last-of-type{
	font-size: 12px;
	width: 192px;
	position: absolute;
	top: 187px;
	left: 84px;
}

.main form input:not(:last-of-type){
	width: 230px;
	height: 34px;
	border: 1px solid #A2A2A2;
	box-sizing: border-box;
	padding: 0px  12px;
}

.main form input:last-of-type{
	display: inline-block;
	position: absolute;
	top: 195px;
	left: 64px;
}

.main form button{
	float: right;
	width: 232px;
	height: 30px;
	border: 0;
	text-align: center;
	background-color: #ea4a36;
	color: white;
	font-size: 14px;
}






/* 底部 */

.footer table{
	width: 820px;
	margin: 20px auto;
	text-align: center;
}
.footer table tr:first-of-type  td{
	height: 20px;
	border-right: 1px solid #E8E8E8;
}

.footer table tr:first-of-type  td a{
	display: block;
}

.footer table tr:nth-child(2)  td{
	height: 45px;
}
