*{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
img{
	width: 1226px;
}
.banner-wrpper{
	width: 1226px;
	height: 460px;
	margin: 100px auto;
}

.banner{
	position: relative;
}

.banner li{
	position: absolute;
	transition: all 1s;
	
}

/* 上下翻页按钮 */ 
.prev-next #prev,
.prev-next #next{
	width: 41px;
	height: 69px;
	position: absolute;
	top: 210px;
	z-index: 9;
}
.prev-next #prev {
	left: 0px;
	background-image: url(img/prev1.png);
}
.prev-next #prev:hover {
	background-image: url(img/prev2.png);
}

.prev-next #next {
	left: 1184px;
	background-image: url(img/next1.png);
}

.prev-next #next:hover {
	background-image: url(img/next2.png);
}

/* 导航点 */
.points {
	position: absolute;
	top: 422px;
	right: 35px;
	z-index: 9;
}

.points a {
	float: left;
	width: 10px;
	height: 10px;
	border: 2px rgba(255, 255, 255, .4) solid;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, .4);
	margin-left: 8px;
}
.points .active{
	border-color : rgba(0, 0, 0, .4);
	background-color : rgba(255, 255, 255, .4);
}

/* 层级   透明度 */
.banner li:nth-child(n+2){
	opacity: 0;
}

.banner li:first-child{
	z-index: 1;
}